  <table class="table tracks">
    <thead>
      <tr>
	<!--<th>Author</th>-->
	<th>Title</th>
	<th>Reflection</th>
	<th>Audio</th>
	<% if user_signed_in? %>
	  <th></th>
	  <th></th>
	<% end %>
	<th></th>

      </tr>
    </thead>

    <tbody>
      <% @tracks.each do |track| %>
	<tr>
          <!--<td><%#= track.user.email if track.user %></td>-->
          <td><%= track.title %></td>
          <td><%= track.reflection %></td>
          <td><%= audio_tag(track.audio.url, controls: true, class: "mejs-player") %></td>
          <td><%= link_to 'Show', track %></td>
	  <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_track_path(track) %></td>
            <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <% end %>
	</tr>
      <% end %>
    </tbody>
  </table>


<br>

<% if user_signed_in? %>
  <%= link_to 'New Track', new_track_path %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> to add your own tracks!
<% end %>

<script>


</script>
