  <table class='table table-striped table-hover table-responsive tracks'
	 >
    <thead data-0='opacity:0.9;'
	   data-150='opacity:0;'
	   >
      <tr>
	<th>Title</th>
	<th>Reflection</th>
	<th>Audio</th>
	<% if user_signed_in? %>
	  <th></th>
	  <th></th>
	<% end %>
      </tr>
    </thead>

    <tbody>
      <tr style='height:150px;'>
	<td></td>
	<td></td>
	<td style='position:absolute;top:10px;right:-150px;'><%= render 'layouts/signup' %></td>
      </tr>
      <% @tracks.reverse.each do |track| %>
	<tr>
          <!--<td><%#= track.user.email if track.user %></td>-->
          <td><%= track.title %></td>
          <td><%= track.reflection %></td>
          <td><%= audio_tag(track.audio.url, controls: true, class: "mejs-player") %></td>
          <td><%= link_to 'Show', track %></td>
	  <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_track_path(track) %></td>
            <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  <% end %>
	</tr>
      <% end %>
    </tbody>
  </table>


<br>

<% if user_signed_in? %>
  <%= link_to 'New Track', new_track_path %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> to add your own tracks!
<% end %>

