<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @track.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Reflection:</strong>
  <%= @track.reflection %>
</p>

<p>
  <strong>Audio:</strong>
  <%= audio_tag(@track.audio.url, controls: true, class: "mejs-player") %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
