<!DOCTYPE html>
<html>
<head>
  <title>My Daily Record</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div id='skrollr-body'>  
    <div style="margin: 100px 0 0 0;">
      <div class="container">
	<%= yield %>
      </div>
    </div>
  </div>

  <script>
   (function($){
     skrollr.init({
       forceHeight: false,
       smoothScrolling: false
     }).refresh();
   } (jQuery));
  </script>


</body>
</html>
